body{
    background-color: #b7f5b3b0;

    .bottom-right{
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: x-small;
    }
}

.back{
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    font-size: large;
}
